.content__elements {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 20px 17px;
    object-fit: cover;
    justify-items: center;
}

@media screen and (max-width: 768px) {
    .content__elements {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 320px) {
    .content__elements {
        width: 282px;
        grid-template-columns: 1fr;
        margin: 36px 19px 0;
        row-gap: 20px;
    }
}