.form {
    width: 100%;
    max-width: 430px;
    background-color: #fff;
    border-radius: 10px;
    color: #000;
    box-sizing: border-box;
    margin: 52px 0 0;
    position: relative;
}

@media screen and (max-width: 767px) {
    .form {
        max-width: 282px;
        margin-top: 40px;
    }
}