.list__title {
    max-width: 282px;
    /*margin: 25px 15px 31px 21px;*/
    /*margin-top: 25px;
    margin-bottom: 31px;*/
    padding: 25px 15px 27px 21px;
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}
