    .profile {
        max-width: 880px;
        margin: 40px auto 50px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        justify-content: start;
    }
    
    @media screen and (max-width: 767px) {
        .profile {
            flex-direction: column;
            justify-content: center;
            margin: 38px 19px 36px;
        }
    }