.profile__column {
    max-width: 580px;
    padding-left: 30px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
    .profile__column {
        /*flex-direction: column;*/
        margin: 0 auto;
        text-align: center;
        padding-left: 0px;
    }
}

@media screen and (max-width: 320px) {
    .profile__column {
        padding: 0;
        margin-bottom: 28px;
        padding-top: 24px;
    }
}