.profile__column {
    max-width: 580px;
    padding-left: 30px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
    .profile__column {
        text-align: center;
        align-items: center;
        margin: 0 auto 28px;
        padding-left: 0px;
        max-width: 300px;
    }
}

@media screen and (max-width: 320px) {
    .profile__column {
        padding: 0;
        margin-bottom: 31px;
        padding-top: 7px;
    }
}