.element__title {
    max-width: 246px;
    /*margin: 25px 15px 31px 21px;*/
    padding: 0 10px;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 26px;
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
}