.header__logo {
    background-image: url(/images/logo/logo-min.svg);
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 142px;
    height: 33px;
}

@media screen and (max-width: 320px) {
    .header__logo {
        margin-left: 27px;
        width: 103px;
    }
}