.profile__subtitle {
    max-width: 300px;
    font-size: 18px;
    line-height: 21.78px;
    font-weight: 400;
    margin: 0;
    padding-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .profile__subtitle {
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .profile__subtitle {
        max-width: 180px;
        font-size: 14px;
        line-height: 16.94px;
        padding-top: 8px;
    }
}