.profile__title {
    font-size: 42px;
    line-height: 1.14;
    font-weight: 500;
    max-width: 310px;
    margin-right: 18px;
    padding-top: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .profile__title {
        font-size: 27px;
        line-height: 32.68px;
    }
}

@media screen and (max-width: 320px) {
    .profile__title {
        max-width: 189px;
        padding-top: 3px;
        margin-left: 46px;
        margin-bottom: 0;
        margin-right: 0;
    }
}