.profile__button-popup {
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    align-self: center;
    padding: 0;
    margin-right: 50px;
    margin-top: 18px;
    background-image: url(../../../images/profile/button.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
}

.profile__button-popup:hover {
    opacity: 60%;
}

@media screen and (max-width: 767px) {
    .profile__button-popup {
        margin-right: 0;
        margin-left: 30px;
    }
}

@media screen and (max-width: 320px) {
    .profile__button-popup {
        margin: 2px 0 0 10px;
        width: 18px;
        height: 18px;
    }
}