.profile__button-popup {
    background-image: url(/images/profile/button.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    align-self: center;
    padding: 0;
    margin-right: 210px;
    margin-top: 18px;
}