.content__profile {
    max-width: 100%;
    height: 120px;
    margin: 40px auto 0;
    box-sizing: border-box;
}


/*@media screen and (max-width: 320px) {
    .content__profile {
        max-width: 320px;
    }
}*/