.form__title {
    margin: 0;
    padding-top: 34px;
    padding-left: 36px;
    font-size: 24px;
    font-weight: 900;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    margin-bottom: 15px;
}

@media screen and (max-width: 320px) {
    .form__title {
        font-size: 18px;
        text-align: center;
        padding: 25px 22px 45px;
        margin: 0;
    }
}