    .form__input {
        width: 100%;
        height: 57px;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding: 0;
        color: rgba(0, 0, 0, 1);
        font-size: 14px;
        line-height: 16.94px;
        font-weight: 400;
        box-sizing: border-box;
        align-items: flex-end;
    }
    
    .form__input:active,
     :hover,
     :focus {
        outline: 0;
        outline-offset: 0;
    }
    
    @media screen and (max-width: 767px) {
        .form__input {
            padding-top: 30px;
        }
    }