    .form__input {
        width: 100%;
        height: 27px;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding: 0;
        color: rgba(0, 0, 0, 1);
        font-size: 14px;
        line-height: 16.94px;
        font-weight: 400;
        box-sizing: border-box;
        align-items: flex-end;
        margin-bottom: 30px;
    }
    
    .form__input::placeholder {
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        color: #c4c4c4;
    }
    
    .form__input:active,
     :hover,
     :focus {
        outline: 0;
        outline-offset: 0;
    }
    /*.form__input:invalid {
        border-bottom: 1px solid rgba(225, 0, 0, 1);
    }*/
    /* -----------ПОЧЕМУ Я ЭТО СДЕЛАЛ С ПАДДИНГОМ???-------------------
    /* @media screen and (max-width: 767px) {
        .form__input {
            padding-top: 30px;
        }
    }*/